/* 
    Author: Matthew Silbernagel
    Date: 10/25/22
    File Name: 
*/

body{
    background: linear-gradient(-45deg, #d3c3be, #682b42, #3f565f, #097259);
    background-size: 100% 100%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    }
    
@keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    
    50% {
    background-position: 100% 50%;
    }
    
    100% {
    background-position: 0% 50%;
    }
    }

img{
    max-width: 100%;
    display: block;
}

main{
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;
}

main p{
    font-size: 1.25em;
}

main h3{
    padding-top: 2%;
}

#contact{
    text-align: center;
}

footer{
    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14;
    color: #f6eee4;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 0%;
    padding-left: 0%;
}